<% layout("/layouts/boilerplate") %>
<body>
    <div class="row offset-2" >
        <h3>Edit your details</h3>
        <div class="col-md-8">
    <form action="/listings/<%= detail._id %>/edit" method="POST" class="needs-validation"
        enctype="multipart/form-data"  novalidate>
     <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="edit[title]" value="<%= detail.title %>" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="edit[description]" class="form-control" rows="4" required><%= detail.description %></textarea>
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" name="edit[price]" value="<%= detail.price %>" class="form-control" required>
    </div>
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
        <input type="text" name="edit[country]" value="<%= detail.country %>" class="form-control">
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Choose image</label>
        <input type="file" name="edit[image]" class="form-control">
</div>
<div class="mb-3">
    <label for="location" class="form-label">Location</label>
<input type="text" name="edit[location]"  class="form-control" value="<%= detail.location %>" required>
</div>
        <button>Edit</button>
    </form>
</div>
</div>
</body>
</html>